{% extends "BumexBasicBundle::layout.html.twig" %}

{% block title "Expedientes" %}

{% block content_header_more %}
	<li><a href="{{ path('index') }}" title="Página de inicio">Inicio</a></li>
	<li><a href="{{ path('historial') }}" title="Histórico de búsquedas realizadas">Historial</a></li>
	<li>
		<img style="margin-bottom: -10px;" src="{{ asset('bundles/webprofiler/images/config.png') }}" alt="Configuración básica">
	</li>
{% endblock %}

{% block cabecera %} 
	<h2>Información de expedientes revisados</h2>
{% endblock %}

{% block content %}

<table>
	<tbody>
        <tr>
        	<th colspan="2" style="text-align: right;">Búsqueda realizada el {{ datos.fbusqueda | date('r') }}</th>
        </tr>
        <tr>
            <th>Día de búsqueda</th>
            <td style="text-align: right;">{{ datos.fecha | date('d-m-Y') }}</td>
        </tr>
		<tr>
            <th>Número de edictos</th>
            <td style="text-align: right;">{{ datos.nedictos }}</td>
        </tr>
        <tr>
            <th>Número de expedientes</th>
            <td style="text-align: right;">{{ datos.nexpedientes }}</td>
        </tr>
        <tr>
            <th>Número de coincidencias</th>
            <td style="text-align: right;">{{ datos.ncoincidencias }}</td>
        </tr>
        <tr>
            <th>Número de teléfonos encontrados</th>
            <td style="text-align: right;">{{ datos.ntelefonos }}</td>
        </tr>
	</tbody>
</table>
    
{% endblock %}
