{% extends "BumexBasicBundle::layout.html.twig" %}

{% block title "Inicio" %}

{% block content_header_more %}
	<li>Inicio</li>
	<li><a href="{{ path('historial') }}">Historial</a></li>
{% endblock %}

{% block cabecera %} 
	<h2>Carga de datos</h2>
{% endblock %}

{% block content %}

	<form action="{{ path('expedientes') }}" method="POST" id="frm_fichero" style="text-align: center;" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.file) }}
        <br />
        {{ form_row(form.frmFecha) }}
        

        {{ form_rest(form) }}

        <br /><input id="opener" type="submit" value="Cargar" class="symfony-button-grey" />
    </form>
    
{% endblock %}

